{% extends "base.html" %}
{% block content %}
<article class="panel is-success">
        <p class="panel-heading">
                {{ post.title }}
        </p>
        <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                    <img src="/media/img/profile.jpg">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <strong>Author:</strong> Wickz
                        <br>
                        <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                        <p><span class="boldtext">Views:</span> {{post.views}}</p>
                        <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                        <p>{{ post.content }}</p>                        
                    </p>
                    </div>
                </article>
                {% if post.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}">
            {% endif %}
        <div class="panel-block">
                <a href="{% url 'get_posts' %}" class="btn btn-default">Back to Blog</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>

        </div>
</article>
{% endblock %}